@import '_colors'

.legend
    position: absolute
    left: 0px
    top: 0px
    height: 100%
    width: 250px

.legend-center
    position: absolute
    top: 50%
    transform: translateY(-50%)
    height: auto

.legend-icon
    position: relative
    height: 80px
    width: 250px

    .image
        position: absolute
        top: 15px
        left: 20px
        height: 50px
        width: 50px
        border-radius: 25px
        background-size: cover
        background-position: center
    
    .text
        position: absolute
        top: 50%
        transform: translateY(-50%)
        left: 80px
        height: auto
        width: 150px